autoimport==1.6.1
click==8.1.8
datasets==3.4.1
evalplus==0.3.0.dev19
evoeval==0.1.0
nest_asyncio==1.6.0
numpy==2.2.5
openai==1.77.0
scipy==1.15.2
tenacity==8.2.3
tiktoken==0.6.0
torch==2.2.1
tqdm==4.67.1
transformers==4.40.1
tree_sitter==0.24.0
tree_sitter_languages==1.10.2
vllm==0.4.1
xxhash==3.5.0
